/*
Colour scheme:
Grey: (outline/navbar) grey lighten-2 #e0e0e0
Red: (North America) deep-orange darken-1 #f4511e
Yellow: (South America) yellow accent-4 #ffd600
Green: (Europe) green accent-4 #00c853
Blue: (Africa) blue darken-1 #1976d2
Purple: (Asia) purple darken-1 #8e24aa
Pink: (Oceania) pink #e91e63
*/

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    border: 2px solid #e0e0e0;
    border-radius: 2px;
    margin-top: 3rem;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 5px;
}

.country {
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;
}

.country:hover{
  fill-opacity: 0.7;
  cursor: pointer;
}

.northamerica {
  fill: #f4511e;
  stroke: black;
  stroke-width: 0.7px;
}

.southamerica {
  fill: #ffd600;
  stroke: black;
  stroke-width: 0.7px;
}

.europe {
  fill: #00c853;
  stroke: black;
  stroke-width: 0.7px;
}

.africa {
  fill: #1976d2;
  stroke: black;
  stroke-width: 0.7px;
}

.asia {
  fill: #8e24aa;
  stroke: black;
  stroke-width: 0.7px;
}

.oceania {
  fill: #e91e63;
  stroke: black;
  stroke-width: 0.7px;
}

.northamerica.ABW { display: none }
.northamerica.ACA { display: none }
.northamerica.ACB { display: none }
.northamerica.AIA { display: none }
.northamerica.BLM { display: none }
.northamerica.BMU { display: none }
.northamerica.BQI { display: none }
.northamerica.CYM { display: none }
.northamerica.GLP { display: none }
.northamerica.GRL { display: none }
.northamerica.MAF { display: none }
.northamerica.MSR { display: none }
.northamerica.MTQ { display: none }
.northamerica.NLY { display: none }
.northamerica.PRI { display: none }
.northamerica.SXM { display: none }
.northamerica.TCA { display: none }
.northamerica.USB { display: none }
.northamerica.USG { display: none }
.northamerica.USK { display: none }
.northamerica.VGB { display: none }
.northamerica.VIR { display: none }
.northamerica.TTD { display: none }
.northamerica.TTG { display: none }

.southamerica.ECD { display: none }
.southamerica.ECG { display: none }
.southamerica.FLK { display: none }
.southamerica.GUF { display: none }

.europe.ALD { display: none }
.europe.BCR { display: none }
.europe.BFR { display: none }
.europe.BWR { display: none }
.europe.BHB { display: none }
.europe.BIS { display: none }
.europe.BHF { display: none }
.europe.DNB { display: none }
.europe.DNK { display: none }
.europe.FRO { display: none }
.europe.FIN { display: none }
.europe.ENG { display: none }
.europe.GGA { display: none }
.europe.GGG { display: none }
.europe.GGH { display: none }
.europe.GGS { display: none }
.europe.GIB { display: none }
.europe.IMN { display: none }
.europe.JEY { display: none }
.europe.NIR { display: none }
.europe.SCT { display: none }
.europe.WLS { display: none }
.europe.ESX { display: none }
.europe.EXI { display: none }
.europe.FXX { display: none }
.europe.FXC { display: none }
.europe.ITX { display: none }
.europe.ITD { display: none }
.europe.ITI { display: none }
.europe.ITP { display: none }
.europe.ITY { display: none }
.europe.NOW { display: none }
.europe.NJM { display: none }
.europe.NSV { display: none }
.europe.RUE { display: none }
.europe.RUK { display: none }
.europe.SRV { display: none }
.europe.SRS { display: none }

.africa.ESC { display: none }
.africa.EUI { display: none }
.africa.JUI { display: none }
.africa.MYT { display: none }
.africa.PMD { display: none }
.africa.SEC { display: none }
.africa.SEM { display: none }
.africa.SAH { display: none }
.africa.GNA { display: none }
.africa.GNK { display: none }
.africa.GNR { display: none }
.africa.SOX { display: none }
.africa.SOL { display: none }
.africa.SOP { display: none }
.africa.TZA { display: none }
.africa.TZZ { display: none }
.africa.STS { display: none }
.africa.STA { display: none }

.asia.CCK { display: none }
.asia.CNM { display: none }
.asia.CXR { display: none }
.asia.CYN { display: none }
.asia.CYP { display: none }
.asia.ESB { display: none }
.asia.SYU { display: none }
.asia.WSB { display: none }
.asia.CHI { display: none }
.asia.CHH { display: none }
.asia.HKG { display: none }
.asia.MAC { display: none }
.asia.PFA { display: none }
.asia.GAZ { display: none }
.asia.WEB { display: none }
.asia.GEA { display: none }
.asia.GEG { display: none }
.asia.IRK { display: none }
.asia.IRR { display: none }
.asia.JPX { display: none }
.asia.JPB { display: none }
.asia.JPH { display: none }
.asia.JPI { display: none }
.asia.JPK { display: none }
.asia.JPO { display: none }
.asia.JPS { display: none }
.asia.JPV { display: none }
.asia.JPY { display: none }
.asia.KAZ { display: none }
.asia.KAB { display: none }
.asia.KAS { display: none }
.asia.INX { display: none }
.asia.KOX { display: none }
.asia.KOB { display: none }
.asia.KOJ { display: none }
.asia.KOU { display: none }
.asia.KNX { display: none }
.asia.KXI { display: none }
.asia.KNZ { display: none }
.asia.PRK { display: none }
.asia.PGA { display: none }
.asia.PHL { display: none }
.asia.TLP { display: none }
.asia.TLX { display: none }
.asia.YEM { display: none }
.asia.YES { display: none }

.oceania.ASM { display: none }
.oceania.CHP { display: none }
.oceania.GUM { display: none }
.oceania.LQI { display: none }
.oceania.MNP { display: none }
.oceania.NCL { display: none }
.oceania.PCN { display: none }
.oceania.PYF { display: none }
.oceania.USH { display: none }
.oceania.WLF { display: none }
.oceania.AUZ { display: none }
.oceania.AUA { display: none }
.oceania.AUM { display: none }
.oceania.NFK { display: none }
.oceania.NZN { display: none }
.oceania.NZS { display: none }
.oceania.COK { display: none }
.oceania.NIU { display: none }
.oceania.NZA { display: none }
.oceania.NZC { display: none }
.oceania.NZK { display: none }
.oceania.TKL { display: none }

.btn-large.clicked .button_label {
  opacity: 1.0 !important;
}

.btn-large .button_label {
  opacity: 0.5;
}

.btn-large.clicked .button_icon {
  opacity: 1.0 !important;
}

.btn-large .button_icon {
  opacity: 0.6;
}

.in-game-options.no-game-selected .btn-large {
  background-color: lightgrey;
}
.in-game-options.northamerica .btn-large {
  background-color: #f4511e;
}
.in-game-options.southamerica .btn-large {
  background-color: #ffd600;
}
.in-game-options.europe .btn-large {
  background-color: #00c853;
}
.in-game-options.africa .btn-large {
  background-color: #1976d2;
}
.in-game-options.asia .btn-large {
  background-color: #8e24aa;
}
.in-game-options.oceania .btn-large {
  background-color: #e91e63;
}

.in-game-options.northamerica a {
  color: #f4511e;
}
.in-game-options.southamerica a {
  color: #ffd600;
}
.in-game-options.europe a {
  color: #00c853;
}
.in-game-options.africa a {
  color: #1976d2;
}
.in-game-options.asia a {
  color: #8e24aa;
}
.in-game-options.oceania a {
  color: #e91e63;
}

.in-game-options {
  height: auto;
  border-radius: 5px;
  border-color: grey;
  padding-left: 3rem;
  padding-bottom: 1rem;
}

.in-game-options > a, .in-game-options > span {
  margin-right: 1rem;
}

.brand-logo {
  font-family: 'Petit Formal Script', cursive;
  padding-left: 3rem !important;
}

#continents-topnav .btn-large {
  margin-right: 6px;
  margin-left: 6px;
  padding-right: 1rem;
  padding-left: 1rem;
}

#continents-sidenav .btn-large {
  margin-top: 25px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.side-nav {
  padding-top: 25px;
}

#game-play {
  height: 36rem;
  border-radius: 2px;
  padding-top: 0.04rem;
  margin-top: 3rem;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#game-play > h3 {
  padding-left: 1rem;
}

.games-header {
  height: 3rem;
}

.game-icons {
  padding: 1rem;
}

.game-options > a {
  padding-right: 0.85rem;
}

.game-options img {
  opacity: 0.4;
  padding-top: 1rem;
}

#game-play .collapsible-body {
  background-color: white;
}

#seconds-country, #seconds-capital, #seconds-flag, #seconds-leader,
#seconds-dialing, #seconds-currency, #seconds-language, #seconds-timezone,
#seconds-demonym, #seconds-area {
  font-size: 2rem;
}

.inactive {
  display: none !important;
}

#toggle-difficulty > img {
  height: 70%;
}
