/*
Colour scheme:
Grey: (outline/navbar) grey lighten-2 #e0e0e0
Red: (North America) deep-orange darken-1 #f4511e
Yellow: (South America) yellow accent-4 #ffd600
Green: (Europe) green accent-4 #00c853
Blue: (Africa) blue darken-1 #1976d2
Purple: (Asia) purple darken-1 #8e24aa
Pink: (Oceania) pink #e91e63
*/

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    border: 2px solid #e0e0e0;
    border-radius: 2px;
    margin-top: 3rem;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 5px;
}

.country {
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;
}

.northamerica {
  fill: #f4511e;
  stroke: black;
  stroke-width: 0.7px;
}

.southamerica {
  fill: #ffd600;
  stroke: black;
  stroke-width: 0.7px;
}

.europe {
  fill: #00c853;
  stroke: black;
  stroke-width: 0.7px;
}

.africa {
  fill: #1976d2;
  stroke: black;
  stroke-width: 0.7px;
}

.asia {
  fill: #8e24aa;
  stroke: black;
  stroke-width: 0.7px;
}

.oceania {
  fill: #e91e63;
  stroke: black;
  stroke-width: 0.7px;
}

.northamerica.ABW { display: none }
.northamerica.AIA { display: none }
.northamerica.BLM { display: none }
.northamerica.BMU { display: none }
.northamerica.CYM { display: none }
.northamerica.GLP { display: none }
.northamerica.GRL { display: none }
.northamerica.MAF { display: none }
.northamerica.MSR { display: none }
.northamerica.MTQ { display: none }
.northamerica.NLY { display: none }
.northamerica.SXM { display: none }
.northamerica.TCA { display: none }
.northamerica.VGB { display: none }

.southamerica.FLK { display: none }
.southamerica.GUF { display: none }

.africa.ESC { display: none }
.africa.EUI { display: none }
.africa.JUI { display: none }
.africa.MYT { display: none }
.africa.PMD { display: none }
.africa.SEC { display: none }
.africa.SEM { display: none }
.africa.SAH { display: none }

.asia.CCK { display: none }
.asia.CNM { display: none }
.asia.CXR { display: none }
.asia.CYN { display: none }
.asia.CYP { display: none }
.asia.ESB { display: none }
.asia.SYU { display: none }
.asia.WSB { display: none }

.oceania.ASM { display: none }
.oceania.CHP { display: none }
.oceania.GUM { display: none }
.oceania.LQI { display: none }
.oceania.MNP { display: none }
.oceania.NCL { display: none }
.oceania.PCN { display: none }
.oceania.PYF { display: none }
.oceania.USH { display: none }
.oceania.WLF { display: none }

.btn-large.clicked .button_label {
  opacity: 1.0 !important;
}

.btn-large .button_label {
  opacity: 0.5;
}

.btn-large.clicked .button_icon {
  opacity: 1.0 !important;
}

.btn-large .button_icon {
  opacity: 0.6;
}

.brand-logo {
  font-family: 'Petit Formal Script', cursive;
  padding-left: 3rem !important;
}

#continents-topnav .btn-large {
  margin-right: 6px;
  margin-left: 6px;
  padding-right: 1rem;
  padding-left: 1rem;
}

#continents-sidenav .btn-large {
  margin-top: 25px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.side-nav {
  padding-top: 25px;
}

#game-play {
  height: 33rem;
  border-radius: 2px;
  padding-top: 0.04rem;
  margin-top: 3rem;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#game-play > h3 {
  padding-left: 1rem;
}

.games-header {
  height: 3rem;
}

.game-icons {
  padding: 1rem;
}

.game-options > a {
  padding-right: 0.85rem;
}

.game-options img {
  opacity: 0.4;
  padding-top: 1rem;
}
