/*
Colour scheme:
Red: orangered #FF4500 (North America)
Yellow: gold #FFD700 (South America)
Green: mediumseagreen #3CB371 (Europe)
Blue: dodgerblue #1E90FF (Africa)
Purple: darkviolet #9400D3 (Asia)
Pink: deeppink #FF1493 (Oceania)
*/

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 5px;
}

.country {
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;
}

.northamerica {
  fill: orangered;
  stroke: lightgrey;
  stroke-width: 1px;
}

.southamerica {
  fill: gold;
  stroke: lightgrey;
  stroke-width: 1px;
}

.europe {
  fill: mediumseagreen;
  stroke: lightgrey;
  stroke-width: 1px;
}

.africa {
  fill: dodgerblue;
  stroke: lightgrey;
  stroke-width: 1px;
}

.asia {
  fill: darkviolet;
  stroke: lightgrey;
  stroke-width: 1px;
}

.oceania {
  fill: deeppink;
  stroke: lightgrey;
  stroke-width: 1px;
}

.africa.ESC { display: none }
.africa.EUI { display: none }
.africa.JUI { display: none }
.africa.MYT { display: none }
.africa.PMD { display: none }
.africa.SEC { display: none }
.africa.SEM { display: none }
.africa.SAH { display: none }
